{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center">
    <h4 class="col-md-5" style="font-size: 50px; font-family:'Courier New', Courier, monospace;">Admin Site</h4>
</div>
    <a href="{{ url_for('staff.index') }}" class="btn btn-outline-secondary">Add Staff</a>
    <a href="{{ url_for('student.students') }}" class="btn btn-outline-secondary">Add Student</a>
        {% for admin in admin %}
        <li>{{ admin.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}