{% extends 'layout.html' %}
{% block content %}
    <h4>Admin Site</h4>
    <ul >
        <li style="display: inline;">
            <form action="{{ url_for('staff.index') }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.Staffs (class="btn btn-outline-info") }}
            </form>
        </li>
        <li style="display: inline;">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.Students (class="btn btn-outline-warning") }}
            </form>
        </li>
    </ul>
{% endblock %}