{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center border-bottom">
    <h4 class="col-md-5" style="font-size: 30px; font-family:'Courier New', Courier, monospace;">
        Staff Info
    </h4>
</div>
    <div class="mt-3">
        <table class="table table-bordered">
            <thead>
                <th>First Name</th>
                <th>SurName</th>
                <th>Date Of Birth</th>
                <th>Staff No</th>
                <th>Gender</th>
                <th>Role</th>
                <th>State</th>
                <th>LGA</th>
                <th>Department</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ staff.first_name }}</td>
                    <td>{{ staff.surname }}</td>
                    <td>{{ staff.dob }}</td>
                    <td>{{ staff.staff_no }}</td>
                    <td>{{ staff.gender }}</td>
                    <td>{{ staff.role }}</td>
                    <td>{{ staff.state }}</td>
                    <td>{{ staff.lga }}</td>
                    <td>{{ staff.department }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-left mt-3">
        <div class="col-md-4 form-group"></div>
        <div class="col-md-4 form-group">
            <a href="{{ url_for('admin.update_staff_info', id=staff.id) }}" class="btn btn-outline-success">Update Info</a>
            <a href="{{ url_for('admin.delete_staff', id=staff.id) }}"class="btn btn-outline-danger">Delete</a>
        </div>
        <div class="col-md-4 form-group"></div>
    </div>
</div>

{% endblock %}